.app {
  min-height: 100vh;
  text-align: center;
  padding: 64px;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 128px;
  margin: auto;
  background-color: gainsboro;
  cursor: pointer;
}

.phone-container {
  display: flex;
  justify-content: center;
}

.phone-chrome {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
  border-radius: 8px;
  border: 8px solid gainsboro;
}

button {
  font-weight: bold;
  margin: 16px
}

textarea {
  min-width: 512px;
  min-height: 128px;
}

button.test-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  background-color: #ffd171;
  padding: 12px 32px 12px 24px;
}

button svg, button img {
  margin-right: 12px;
}

input {
  margin: 16px;
}

select {
  margin: 16px;
}

.medium {
  font-size: 1.33em;
}

.large {
  font-size: 2em;
}