.app {
  min-height: 100vh;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: whitesmoke;
}

.stickymenu {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  box-shadow: 0 2px 2px 0px rgb(0, 0, 0, 0.2);
}

.stickyinputs {
  display: flex;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0;
  background-color: gainsboro;
  cursor: pointer;
}

.phone-container {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.phone-chrome {
  padding: 32px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(12, 1fr); */
  /* gap: 32px; */
  border-radius: 8px;
  border: 8px solid gainsboro;
  background-color: white;
}

.icon {
  padding: 16px;
}

h1 {
  font-family: monospace;
}

button {
  margin: 16px;
}

textarea {
  width: 50%;
  min-height: 48px;
  resize: vertical;
}

button.test-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  background-color: #ffd171;
  padding: 12px 32px 12px 24px;
}

button svg,
button img {
  margin-right: 12px;
}

input {
  margin: 16px;
}

select {
  margin: 16px;
}

.medium {
  font-size: 1.33em;
}

.large {
  font-size: 2em;
}
